.back-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
  
    & > span {
      margin-left: 5px;
      font-weight: bold;
      text-transform: capitalize;
    }
}
.i-container {
  padding: 0 100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputs-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  column-gap: 20px;
}
