
.tooltip-inner{
    background-color: #031B4E; 
    color: #FFFFFF; 
    border: 1px solid rgb(0, 85, 128); 
    padding: 5px;
    font-size: 11px;
}
.bg-manual {

background-color: #969cc0;
}
.bg-api {

background-color: #36A3F7;
}
.bg-express{
background-color: #5ce4a4;   
}
.m-portlet {
    box-shadow: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.btn-search__quotes {
    top: 50px;
    font-size: 18px;
    position: relative;
    padding: 13px 30px;
    border-radius: 50px !important;
}
.q-one,
.q-two,
.q-three {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.q-two {
    justify-content: flex-start;
}
.q-one div:nth-child(1),
.q-one div:nth-child(2),
.q-one div:nth-child(3),
.q-one div:nth-child(4) {
    overflow: hidden;
}
.q-one div:nth-child(1),
.q-one div:nth-child(2),
.q-one div:nth-child(3) {
    width: 18% !important;
}
.q-one div:nth-child(4) {
    width: 38% !important;
}
.q-one div:nth-child(5),
.q-two div:nth-child(3) {
    width: 100%;
}
.q-one div:nth-child(1) label {
    white-space: nowrap;
}
.q-two div:nth-child(1) {
    width: 66%;
    margin-right: 10px;
}
.q-three div:nth-child(3) {
    width: 100%;
}
.q-three div:nth-child(1) {
    width: 50%;
}
.dfw {
    width: 100%;
}
.no-shadow {
    box-shadow: none;
}
.filter-table__quotes,
.card-p__quotes,
.card__quote-manual {
    padding: 25px;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    background: #FFFFFF;
}
.card__quote-manual {
    margin: 0 15px;
    border: 2px;
}
.no-padding {
    padding: 0px !important;
}
.card-p__quotes {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 300ms linear;
}
.card-p__quotes:hover {
    border-color: #0072fc;
}
.btn-detail__quotes {
    width: 140px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ececec;
    transition: all 300ms ease;
}
.bg-maersk {
    background-color: #41B0D5;
}
.bg-safmarine {
    background-color: #f99702;
}
.btn-detail__quotes:hover {
    border-color: #0072fc;
    background-color: #0072fc;
}
.btn-detail__quotes:hover span,
.btn-detail__quotes:hover a i {
    color: #fff;
}
.btn-detail__quotes span {
    font-size: 12px;
    color: #0072fc;
}
.btn-detail__quotes a {
    height: 0px !important;
}
.btn-detail__quotes a i {
    color: #a4a2bb;
}
.btn-input__select,
.btn-input__select-add {
    position: relative;
    left: 25px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cecece;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 0px;
    border-radius: 5px;
    border: 2px solid #cecece;
    transition: all 300ms ease;
}
.btn-input__select:hover,
.btn-input__select-add:hover {
    border-color: #0072fc;
}
.input-select[type="checkbox"] {
    display: none;
}
.input-select[type="checkbox"]:checked+.btn-input__select {
    color: #fff;
    display: flex;
    width: 120px;
    border-color: #0072fc;
    justify-content: center;
    background-color: #0072fc;
}
.style__select-add {
    color: #fff;
    border-color: #0072fc;
    background-color: #0072fc;
}
.add-click {
    color: #cecece !important;
}
.input-select[type="checkbox"]:checked+.btn-input__select span {
    display: none;
}
.btn-input__select-add {
    width: 60px !important;
    left: 60px;
    visibility: hidden;
}
.btn-input__select-gen {
    width: 60px !important;
    left: 60px;
    visibility: hidden;
}
.hidden-general {
    display: none !important;
}
.visible__select-add {
    visibility: visible;
}
.col-txt {
    font-weight: 600;
    color: #0072fc;
    font-size: 18px;
}
.btn-d {
    width: 130px;
}
.padding {
    padding: 0 25px;
}
.padding-v2 {
    padding: 25px;
}
.no-margin {
    margin: 0 !important;
}
.freight__quotes {
    border-top: none !important;
    border: 3px solid #0072fc;
    border-radius: 0px 0px 3px 3px;
}
.add-class__card-p {
    box-shadow: none;
    border: 3px solid #0072fc;
    border-bottom: 1px solid #ececec !important;
    border-radius: 3px 3px 0px 0px !important;
}
.bg-light {
    padding: 5px 25px;
    border-radius: 3px;
    background-color: #f4f3f8 !important;
}
.portalphacode {
    color: #1d3b6e !important;
}
.colorphacode {
    color: #7c83b3;
}
.bg-rates {
    padding: 2px 5px;
    border-radius: 3px;
    text-align: center;
    background-color: #ececec;
}
.wth {
    width: 25%;
}
.table-r__quotes {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.table-r__quotes div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-top {
    border-top: 1px solid #ececec;
}
.padding-min {
    padding: 10px !important;
}
.b-left {
    border-left: 1px solid #ececec;
}
.padding-min-col {
    padding: 45px 10px !important;
}
.pos-btn {
    position: relative;
    right: 40px;
}
.padding-right-table {
    padding-right: 50px !important;
}
.btn-date {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.data-rates {
    padding: 5px 25px;
}
.arrow-down {
    top: 4px;
    position: relative;
}
.monto-down {
    top: 2px;
    position: relative;
}
.min-width-filter span {
    min-width: 50px !important;
}
.min-width-filter .select2-search--dropdown {
    padding: 0px !important;
}
.margin-card {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.no-check {
    display: none !important;
}
.border-bottom {
    border-bottom: 1px solid #ececec;
}
.border-card {
    border-color: #0072fc !important;
}
.btn-manual__quotes {
    background-color: transparent;
    color: #0072fc !important;
    border-width: 2px;
    font-weight: 600;
    padding: 0.35rem 1rem;
}
.btn-manual__quotes span {
    top: 2px;
    position: relative;
}
.warning-p {
    color: #575962;
    font-size: 14px;
    font-weight: 600;
}
.warning-p span {
    color: #e74c3c;
}
.warning-p i {
    font-size: 33px;
    top: 7px;
    margin-right: 5px;
    position: relative;
    transform: rotate(180deg);
}
.btn-remarks {
    width: 95px;
}
.btn-nowrap {
    white-space: nowrap;
}
.select-class::before {
    content: 'Select ->';
    font-size: 13px;
}
.selected-class:before {
    content: 'Selected';
    font-size: 13px;
}
.full-width {
    width: 100% !important;
}
.create-manual {
    background-color: #fff !important;
    color: #36a3f7 !important;
    border-width: 2px;
    border-color: #36a3f7 !important;
}
.create-manual:hover {
    background-color: #36a3f7 !important;
    border-color: #36a3f7 !important;
}
.workgreen {
    color: #6ee99e !important;
    font-weight: bold !important;
}
.downexcel {
    border-color: #6ee99e !important;
}
.downexcel a {
    text-decoration: none;
}
.downexcel:hover {
    background-color: transparent !important;
}
.downexcel i {
    margin-top: 8px !important;
    font-size: 24px;
    color: #6ee99e !important;
}
.btn-plus__form {
    position: relative;
    top: 8px;
}
.include-checkbox[type="checkbox"] {
    display: none;
}
.for-check {
    display: flex;
    align-items: flex-end;
    padding-left: 40px;
    padding-right: 0px;
}
.label-check {
    position: relative;
}
.label-check::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -25px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid #0000ff;
    border-radius: 3px;
    display: flex;
    /*align-items: center*/
    justify-content: center;
}
.include-checkbox[type="checkbox"]:checked+.label-check::before {
    content: '✔';
    color: #0000ff;
    line-height: 15px;
}
/* c5 select */
.c5-select-multiple {
    display: none;
}
.c5-select-multiple-dropdown {
    width: 100%;
    height: 37px;
}
.c5-select-multiple-container {
    width: 100%;
    height: auto;
    padding: 15px;
    display: none;
    border: 1px solid #eee;
    -webkit-border: 1px solid #eee;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    margin-top: 5px;
    z-index: 100;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
}
.c5-select-container-close {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}
.c5-select-container-close:hover {
    background: #f9f9f9;
}
.c5-select-header,
.c5-select-multiple-switch {
    font-size: 14px;
    color: #333;
    padding: 0px 0px 15px 0px;
    display: block;
}
.c5-select-list {
    height: 165px;
    padding-left: 0px;
    margin-bottom: 0px;
    overflow-y: scroll;
}
.list-types-carriers {
    height: auto !important;
}
/* width */
.c5-select-list::-webkit-scrollbar {
    width: 8px;
}
/* Track */
.c5-select-list::-webkit-scrollbar-track {
    border-radius: 18px;
}
/* Handle */
.c5-select-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 18px;
}
/* Handle on hover */
.c5-select-list::-webkit-scrollbar-thumb:hover {
    background: #064acb;
}
.c5-select-list li {
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none;
}
.c5-select-dropdown-list {
    padding: 8px 10px 8px 10px;
    border: 1px solid #eee;
    -webkit-border: 1px solid #eee;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    height: 35px;
    background-color: #f6f6f6;
}
.m-input.date {
    background-color: #f6f6f6;
}
.c5-select-dropdown-list li {
    list-style: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    float: right;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked+.slider {
    background-color: #2196F3;
}
.switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}
.switch input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.c5-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.c5-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
/* On mouse-over, add a grey background color */
.c5-label:hover input~.checkmark {
    background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.c5-label input:checked~.checkmark {
    background-color: #2196F3;
    border: 1px solid #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.c5-label input:checked~.checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.c5-label .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.c5-case:hover {
    background: #fbfbfb;
}
.hidden-air {
    display: none;
}
.list-group2 {
    height: auto !important;
}
.h-hidden {
    display: none;
}
.border-select {
    border-color: #716aca;
}
.select2-selection,
.pac-target-input {
    background-color: #f6f6f6 !important;
}
.hida {
    display: none;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.m-wizard__step--done .m-wizard__step-info .m-wizard__step-number > span {
    background-color: #0072fc;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info .m-wizard__step-number > span {
    background-color: rgba(0, 114, 252, 0.70);
}

.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-number > span {
    width: 3rem;
    height: 3rem;
}
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-number > span > span {
    font-size: 16px;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__progress .progress .progress-bar:after {
    background-color: #0172fc;
}
/* estilos */