/*@font-face{
    font-family: "JosefinSans-Bold";
    src: url("/fonts/JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "JosefinSans-Light";
    src: url("/fonts/JosefinSans-Light.ttf") format("truetype");
}


@font-face{
    font-family: "JosefinSans-Bold";
    src: url("/fonts/JosefinSans-Bold.ttf") format("truetype");
    font-style:'bold';
}

@font-face{
    font-family: "Raleway-Regular";
    src: url("/fonts/Raleway-Regular.ttf") format("truetype");
    font-style:'normal';
}

@font-face{
    font-family: "Cuprum-Regular";
    src: url("/fonts/Cuprum-Regular.ttf") format("truetype");
    font-style:'normal';
}

@font-face{
    font-family: "Cuprum-Bold";
    src: url("/fonts/Cuprum-Regular.ttf") format("truetype");
    font-style:'bold';
}

@font-face{
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-style:'normal';
} 



@font-face{
    font-family: "Rubik";
    src: url("/fonts/Rubik-Bold.ttf") format("truetype");
    font-style:'bold';
} 

@font-face{
    font-family: "Signika";
    src: url("/fonts/Signika-Regular.ttf") format("truetype");
    font-style:'normal';
}

@font-face{
    font-family: "Signika";
    src: url("/fonts/Signika-Bold.ttf") format("truetype");
    font-style:'bold';
}  

@font-face{
    font-family: "Signika";
    src: url("/fonts/Signika-SemiBold.ttf") format("truetype");
    font-style:'semi_bold';
    }*/


    @font-face{
        font-family: "sailec";
        src: url("/fonts/sailec.otf") format("opentype");
    }


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.page-break{
    page-break-after: always;
}

a {
    color: #0087C3;
    text-decoration: none;
}

.color-table{
    color: #525F7F !important;
}

.color-title{
    color: #031B4E !important;
}

body {
    position: relative;
    width: 100%;
    height: 29.7cm; 
    margin: 0 auto; 
    color: #787878;
    background: #FFFFFF;
    font-size: 12px !important;
    letter-spacing: 0.9px;
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
}

.title{
    color: #031B4E !important;
    font-weight: bolder !important;
    font-size: 12px !important; 
}
.subtotal{
    font-size: 12px;
    color: #031B4E;;
}
.total{
    color: #fff !important;
    background-color: #031B4E;
    width:220px !important;
    padding:10px !important;
    border-radius:2px !important;
}
.white{
    background-color: #fff;
}
#logo {
    float: left;
}

#logo img {
    height: 70px;
}

#company {
    text-align: right;
}

.details {
    margin-bottom: 10px;
}
h1{
    font-size: 18px !important;
    font-weight: bold !important;
    color: #031B4E !important;
}
.client {
    float: left;
    width: 100%;
}

.client .to {
    color: #777777;
}

h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    border-radius: 2px !important;
    color: #525F7F;
}

.table-border{
    border: 1px solid #E2E2E2 !important;
}

table tr:nth-child(odd) td{
    background-color: #faf9fc !important;
}

table th,
table td {
    padding: 8px;
    text-align: left;
}

table th {
    white-space: nowrap;        
    font-weight: normal;
    color: #031B4E !important;
    background-color: #F4F3F8 !important;
}

table td {
    text-align: left;
    background-color: #fff;
    color: #031B4E;
}

table td h3{
    color: #57B223;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 0.2em 0;
}

table .no {
    color: #FFFFFF;
    font-size: 1.6em;
    background: #57B223;
}

table .footer {
    background: #57B223 !important;
}

table .desc {
    text-align: left;
}

table .unit {
    background: #f1f1f1;
}

table .qty {
}

table .total {
    background: #031B4E;
    color: #FFFFFF;
}

table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}

table tbody tr:last-child td {
    border: none;
}
.td-a {
    border: 1px solid #eee !important;
    border-radius: 5px;
    padding: 6px;
}
.tds {
    line-height: 40px;
    text-align: left;
}

table tfoot td {
    padding: 10px 20px;
    background: #FFFFFF;
    border-bottom: none;
    font-size: 1.2em;
    white-space: nowrap; 
    border-top: 1px solid #AAAAAA; 
}

table tfoot tr:first-child td {
    border-top: none; 
}

table tfoot tr:last-child td {
    color: #031B4E;
    font-size: 1.4em;

}

table tfoot tr td:first-child {
    border: none;
}

footer {
    color: #777777;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
}

