container_commands:
  01_cache:
    command: "php artisan cache:clear"
    cwd: "/var/app/ondeck"
  02_cache:
    command: "php artisan config:clear"
    cwd: "/var/app/ondeck"
  03_permissions_boostrap:
    # fix permissions on the Laravel app folder
    command: "chmod 777 -R /var/app/ondeck/bootstrap"
    cwd: "/var/app/ondeck"
  04_permissions_public:
    # fix permissions on the Laravel app folder
    command: "chmod 777 -R /var/app/ondeck/bootstrap"
    cwd: "/var/app/ondeck"
  05_permissions_storage:
    # fix permissions on the Laravel app folder
    command: "chmod 777 -R /var/app/ondeck/storage"
    cwd: "/var/app/ondeck"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Making /storage writeable..."
      chmod -R 777 /var/app/current/bootstrap/
      chmod -R 777 /var/app/current/storage/

      if [ ! -f /var/app/current/storage/logs/laravel.log ]; then
          echo "Creating /storage/logs/laravel.log..."
          touch /var/app/current/storage/logs/laravel.log
          chown webapp:webapp /var/app/current/storage/logs/laravel.log
          chmod 777 /var/app/current/storage/logs/laravel.log
      fi

      if [ ! -d /var/app/current/public/storage ]; then
          echo "Creating /public/storage symlink..."
          ln -s /var/app/current/storage/app/public /var/app/current/public/storage
      fi



  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log