container_commands:
  01set_permissions:
    command:
      "chmod -R 777 /var/app/ondeck"
  02artisan_command:
      command:
        "php /var/app/ondeck/artisan config:cache"
  03artisan_command:
      command:
        "php /var/app/ondeck/artisan cache:clear"
  04artisan_command:
      command:
        "php /var/app/ondeck/artisan queue:work --timeout=3600"