container_commands:
    command1:
        command: "/usr/local/bin/php /var/www/html/artisan config:cache"
        ignoreErrors: true
    command2:
        command: "/usr/local/bin/php /var/www/html/artisan cache:clear"
        ignoreErrors: true
    command3:
        command: "/usr/local/bin/php /var/www/html/artisan queue:work --timeout=3600 &"
        ignoreErrors: true