files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_configure_environment_file.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/bin/bash
        chmod -R 777 /var/app/current/storage/
        chmod -R 777 /var/app/current/bootstrap/
        chmod -R 777 /var/app/current/public/
