files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_configure_environment_file.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/bin/bash
        chmod -R 777 /var/app/current/bootstrap/
        sudo rm -f /var/app/current/bootstrap/config.php
        sudo rm -f /var/app/current/bootstrap/packages.php
        sudo rm -f /var/app/current/bootstrap/services.php
        sudo mkdir -p /var/app/current/storage/framework/sessions
        php  /var/www/html/artisan cache:clear
        #php  /var/www/html/artisan config:cache
        chmod -R 777 /var/app/current/storage/
        chmod -R 777 /var/app/current/public/