files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_configure_environment_file.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/bin/bash
        sudo chown -R $USER:webapp /var/app/current/storag
        sudo chown -R $USER:webapp /var/app/current/bootstrap/cache
        sudo chmod -R 755 /var/app/current/storage
        sudo chmod -R 755 /var/app/current/bootstrap/cache
        sudo rm -f /var/app/current/bootstrap/config.php
        sudo rm -f /var/app/current/bootstrap/packages.php
        sudo rm -f /var/app/current/bootstrap/services.php
        php  /var/www/html/artisan cache:clear