files:
    "/etc/cron.d/mycron_env":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/prepare_enviroment.sh

    "/usr/local/bin/prepare_enviroment.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            curl -Sl https://rpm.nodesource.com/setup_14.x  | sudo bash -
            sudo yum -y install nodejs
            sudo cp /var/www/html/config/custom.example.php /var/www/html/config/custom.php
            sudo chmod 755 /var/www/html/config/custom.php
           


commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron_env.bak" 