container_commands:
  01-storage:
    command: "sudo chmod 777 -R /var/www/html/storage"
  02-public:
     command: "sudo chmod 777 -R /var/www/html/public"
  05-cache-clear:
    command: "php artisan cache:clear"
  06-config-clear:
    command: "php artisan config:clear"
  07-config-cache:
    command: "php artisan config:cache"
  08-migrate:
    command: "php artisan migrate:fresh --seed"
