container_commands:
  01-rm:
    command: "sudo rm /var/www/html/public/storage"
  02-migrations:
    command: "php artisan storage:link"
  03-generate-key:
    command: "php artisan cache:clear"
  04-config-clear:
    command: "php artisan config:clear"
  05-config-cache:
    command: "php artisan config:cache"