container_commands:
  01set_permissions:
    command:
      "chmod -R 777 /var/www/html/storage"
  02artisan_command:
      command:
        "php php /var/www/html/artisan config:cache"
  03artisan_command:
      command:
        "php /var/www/html/artisan cache:clear"
  04artisan_command:
      command:
        "php /var/www/html/artisan queue:work --timeout=1800 &"