
// Body
$body-bg:#F6F6F6;

// Typography
$font-family-sans-serif: "Sailec", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-orange: #FF5F48;
$color-dark-blue: #031B4E;
$color-light-blue: #006BFA;
$color-dark-gray: #F6F6F6;
$color-white: #FFFFFF;
$primary-color:#006BFA;
$secondary-color:#031B4E;
