
// Body
$body-bg:#F6F6F6;

// Typography
$font-family-sans-serif: "Sailec", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-orange: #FF5F48;
$color-dark-blue: #031B4E;
$color-light-blue: #006BFA;
$color-dark-gray: #F6F6F6;
$color-white: #FFFFFF;
$primary-color:#006BFA;
$secondary-color:#031B4E;

//Fonts size

$size-10: 10px;
$size-12: 12px;
$size-13: 13px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-28: 28px;
$size-30: 30px;
$size-32: 32px;
$size-34: 34px;
$size-36: 36px;
$size-38: 38px;
$size-40: 40px;
$size-48: 48px;
