// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
a.m-brand__logo-wrapper img {
  height: 40px;
  width: auto;
}
.m-brand__logo img {
  height: 40px;
  width: auto;
}

#m_header_nav {
  background-color:#061D2C;
}

#m_header_nav span {
  color:#fff;
  font-size: 12px;
}

.m-menu__hor-arrow {
  color: #fff !important;
}

.m-brand {
  background-color:#061D2C !important;
}

.m-menu__subnav {
  background-color:#061D2C !important;
}

h3.m-subheader__title{
  color:#FF5F47 !important;
}

.m-dropdown__body span {
  color: #222 !important;
}

.m-menu__arrow--adjust {
  color:#061D2C !important;
}

//--- Modals ---

.modal .modal-content .modal-body {
  padding: 25px 25px 0 25px;
}

//--- Buttons ---

.btn{
  border-radius: 0px !important;
}
.btn:hover{
  font-weight: 600 !important;
}
.btn-primary{
  background-color: $color-orange !important;
  border: 1px solid #FF5F48 !important;
}
.btn-success{
  background-color: #061D2C !important;
  border: 1px solid #061D2C !important;
}

//--- Datatables customize ---
.m-datatable > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell > span > i{
  color: #FF5F48 !important;
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle:hover{
  background-color: #FF5F48 !important;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle:focus, .m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size.show > .btn.dropdown-toggle{
  background-color: #FF5F48 !important;
}

//--- Tabs customize ---

.nav-tabs .nav-link {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  /* border-top-left-radius: 0.25rem; */
  /* border-top-right-radius: 0.25rem; */
}

.m-tabs-line.m-tabs-line--success.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--success.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--success a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--success a.m-tabs__link.active {
  color: $color-orange !important;
  border-bottom: 3px solid $color-orange !important;
  font-weight: bold !important;
}

/*.m-portlet .m-portlet__head {
  background-color: #b5b5b5 !important;
  height: 40px !important;
}*/
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
  font-size: 1rem !important;
  color: #000 !important;
  text-align: center !important;
}

.btn.btn-secondary{
  background-color: #8b131b !important;
  border-color: #8b131b !important;
}

.hide{
  display: none !important;
}