// Font

@font-face {
  font-family: Sailec;
  src: url(../../../public/fonts/sailec.otf);
}

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'styles';
@import 'style-bundle';

body{
  font-size: 12px !important;
}

.desktop{
    display: block;
}

/* Font sizes
------------------------------------------------------------------ */
.size-48px {
  font-size: $size-48 !important;
}
.size-40px {
  font-size: $size-40 !important;
}
.size-38px {
  font-size: $size-38 !important;
}
.size-36px {
  font-size: $size-36 !important;
}
.size-34px {
  font-size: $size-34 !important;
}
.size-32px {
  font-size: $size-32 !important;
}
.size-30px {
  font-size: $size-30 !important;
}
.size-28px {
  font-size: $size-28 !important;
}
.size-26px {
  font-size: $size-26 !important;
}
.size-24px {
  font-size: $size-24 !important;
}
.size-22px {
  font-size: $size-22 !important;
}
.size-20px {
  font-size: $size-20 !important;
}
.size-18px {
  font-size: $size-18 !important;
}
.size-16px {
  font-size: $size-16 !important;
}
.size-14px {
  font-size: $size-14 !important;
}
.size-12px {
  font-size: $size-12 !important;
}
.size-10px {
  font-size: $size-10 !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
a.m-brand__logo-wrapper img {
  height: 30px;
  width: auto;
}
.m-brand__logo img {
  height: 30px;
  width: auto;
}

#m_header_nav {
  background-color:#031B4E;
}

#m_header_nav span {
  color:#fff;
  font-size: 14px;
}

.m-menu__hor-arrow {
  color: #fff !important;
}

.m-brand {
  background-color:#031B4E !important;
}

.m-menu__subnav {
  background-color:#031B4E !important;
}

h3.m-subheader__title{
  color:$primary-color;
}

.m-dropdown__body span {
  color: #222 !important;
}

.m-menu__arrow--adjust {
  color:#061D2C !important;
}

.down {
  border: solid $primary-color;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
  margin-top: -10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  cursor: pointer;
}

.down:hover {
  border-width: 0 4px 4px 0;
}


//--- Modals ---

.modal .modal-content .modal-body {
  padding: 25px 25px 0 25px;
}

//--- Buttons ---

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.btn:hover{
  font-weight: 600 !important;
}
.btn-primary{
  background-color: $color-dark-blue !important;
  border: 1px solid $color-dark-blue !important;
}

.btn-primary-v2{
  background-color: $color-white !important;
  border: 2px solid $primary-color !important;
  color: $primary-color !important;
}

.btn-primary-v2:hover{
  background-color: $color-dark-blue !important;
  border: 2px solid $color-dark-blue !important;
  color: $color-white !important;
}

.btn-primary-plus{
  background-color: $primary-color !important;
  border: 2px solid $primary-color !important;
  color: $color-white !important;
}

.btn-primary-plus:hover{
  background-color: $color-dark-blue !important;
  border: 2px solid $color-dark-blue !important;
  color: $color-white !important;
}

.btn.btn-secondary{
  background-color: #1D3A6E !important;
  border-color: #1D3A6E !important;
}

.m-bootstrap-touchspin-brand .bootstrap-touchspin .btn.focus, .m-bootstrap-touchspin-brand .bootstrap-touchspin .btn:focus, .m-bootstrap-touchspin-brand .bootstrap-touchspin .btn:hover {
  color: #ffffff !important;
  background: $color-dark-blue !important;
  border-color: $color-dark-blue !important;
}

//--- Datatables customize ---
.m-datatable > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell > span > i{
  color: #FF5F48 !important;
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle:hover{
  background-color: #FF5F48 !important;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle:focus, .m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size.show > .btn.dropdown-toggle{
  background-color: #FF5F48 !important;
}

// --- Datatable v 10 .9 customize 


.tableData>tbody>tr:nth-child(even)>td {
   background-color: #faf9fc; // Choose your own color here
 }

.tableData>tbody>tr:hover {
    background-color:  #f4f3f8;
 }


//--- Tabs customize ---

.nav-tabs .nav-link {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  /* border-top-left-radius: 0.25rem; */
  /* border-top-right-radius: 0.25rem; */
}

.m-tabs-line.m-tabs-line--success.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--success.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--success a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--success a.m-tabs__link.active {
  color: $primary-color !important;
  border-bottom: 3px solid $primary-color !important;
  font-weight: bold !important;
}

/*.m-portlet .m-portlet__head {
  background-color: #b5b5b5 !important;
  height: 40px !important;
}*/
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
  font-size: 1rem !important;
  color: #000 !important;
  text-align: center !important;
}

.m-portlet .m-portlet__head {
  display: table;
  padding: 0;
  width: 100%;
  padding: 0 2.2rem;
  height: 4.1rem;
  border-radius: 10px !important;
}

.hide{
  display: none !important;
}

.m-form .m-form__group .form-control-label, .m-form .m-form__group label {
  font-weight: 400;
  font-size: 0.9rem;
}

/*-- Panels --*/

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: none !important;
}
.panel-body {
  padding: 15px;
  border: 1px solid #f1f1f1
}
.panel-heading {
  padding: 10px 15px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-primary {
  border-color: #337ab7;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}


/* CUSTOM CSS*/

input#password {
  width: 100%;
  height: 35px;
}

/* ADD FCL CONTRACT FORM*/

/*#origin-port-fcl-form {

}

#destination-port-fcl-form{

}

#carrier-fcl-form{

}

#20-fcl-form{
  
}

#40-fcl-form {

}

#40hc-fcl-form{

}

#currency-fcl-form{

}*/

/*
INLAND RATES
*/

th#lower-limit-fcl {
  width:50px;
}

th#upper-limit-fcl {
  width:50px;
}

th#rate-limit-fcl {
  width:50px;
}

th#options-limit-fcl {
  width:50px;
}

.up{
  width: 60px;
}

.low{
  width: 60px;
}

.fortyhc{
  width: 60px;
}

.currency{
  width: 60px;
}

.dest-port{
  width: 100px;
}

.dest-port2{
  width: 100px !important;
}

.orig-port{
  width: 100px;
}

.carrier{
  width: 100px;
}

.tab{
  display: inline-table !important;
  width: 100% !important;
}

.mce-menubtn button {
  color: #595959;
  display: none !important;
}

@media only screen and (max-width: 767px) {

    .desktop{
        display: none;
    }

}

@media (min-width: 993px) {
.m-portlet.m-portlet--full-height.result-automatic {
  height: calc(100% - 5rem) !important;
}}

.m-portlet result-automatic {
  margin-bottom: 0rem !important;
}

.terms-and-conditions {
  border: 1px solid #f4f5f8;
  margin-top: -20px;
  padding: 25px;
}

.custom-portlet{
  border-radius: 10px !important;
  background-color: #F6F6F6 !important;
  border: 1px solid #c5c5c5;
}