@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.david{
  color: #FFF000;
}

.card {
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.50rem;
}

.bg-container {
  background-color: #eceff3;
}