.table-responsive {
    overflow: initial !important;
    overflow-x: initial !important;
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
a,
input,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
p,
label,
textarea,
td,
th,
tr,
.h6 {
    font-family: "Sailec" !important;
}

.multiselect__content-wrapper::-webkit-scrollbar {
    width: 8px;
}

.multiselect__content-wrapper::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.multiselect__content-wrapper::-webkit-scrollbar-thumb:hover {
    background: #006bf9;
}


/*** genetal styles ***/

.m-body {
    background-color: #f8f8fc !important;
    height: auto;
}

.btns-form-modal {
    padding: 25px 40px 25px 40px;
    position: absolute;
    bottom: -82.5px;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    width: 100%;
    border-radius: 0px 0px 3.2px 3.2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btns-form-modal button:nth-child(1) {
    background: transparent;
    border: none;
    color: #ff6464;
    margin-right: 15px;
}

.btns-form-modal button:nth-child(1):hover:not(:disabled) {
    color: #ff6464 !important;
}

.status-st {
    color: #fff;
    font-size: 9px;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.truncate {
    max-width: 120px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.publish {
    background-color: #5fe2a0;
}

.incomplete {
    background-color: #969cc0;
}

.expired {
    background-color: #ff6464;
}

.incomplete::before {
    content: 'incompleted';
    font-weight: bold;
}

.publish::before {
    content: 'published';
    font-weight: bold;
}

.expired::before {
    content: 'expired';
    font-weight: bold;
}


/**** --- Table Card--- ****/

.card {
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.50rem;
}

.card-title {
    color: #031b4e;
    font-weight: bold;
}

.btn-bg {
    background-color: #006bf9 !important;
    color: #fff;
    font-weight: bold;
    border: none !important;
}

.btn-bg:hover {
    opacity: 0.8;
}

.btn-link {
    font-weight: bold;
}

.form-control:focus {
    box-shadow: none;
}

table thead {
    background-color: transparent !important;
    border-bottom: 1px solid #eee;
}

table tr th {
    color: #031b4e;
    font-weight: bold !important;
}

table tr td {
    color: #031b4e;
}

table tr th:focus {
    outline: none;
}

.form-inline {
    position: relative;
}

.form-inline i {
    position: absolute;
    left: 12px;
    color: #525f7e;
}

.form-inline input {
    border: 2px solid #eee;
    padding-left: 33px;
}

.custom-control-label::before,
.custom-control-label::after,
.custom-control-input {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 2px;
    border-color: #EEE;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input~.custom-control-label::before {
    box-shadow: none;
}


/*.input-check[type=checkbox] + label {
    //display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

.input-check[type=checkbox] {
    display: none;
}
.input-check[type=checkbox] + label:before {
    content: "\2714";
    border: 0.15em solid #006bf9;
    border-radius: 0.2em;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 1.3em;
    height: 1.3em;
    padding-left: 0.15em;
    margin-right: 0.15em;
    color: transparent;
    transition: .2s;
    font-size: 14px;
}
.input-check[type=checkbox] + label:active:before {
    transform: scale(0);
}
.input-check[type=checkbox]:checked + label:before {
    color: #006bf9;
}
.input-check[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #006bf9;
}
.input-check[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: transparent;
    border-color: #006bf9;
}*/

td.checkbox-add-fcl,
td.actions-add-fcl {
    width: 45px;
}

.btn.btn-secondary {
    background-color: transparent!important;
    border: 2px solid #eee !important;
}

.btn.btn-secondary:focus i {
    color: #006bf9;
}

.action-app {
    padding: 0.1rem 0.40rem;
}

.action-app i {
    color: #eee;
}

#actions-box[type=checkbox]:checked+.popup-actions {
    display: inline-block;
}

.table-hover tbody tr:hover {
    background-color: transparent !important;
}

#actions-box {
    display: none;
}

.actions-box {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    border: 2px solid #eee;
}

.actions-box span {
    position: relative;
    z-index: 1;
}

.all-action-app {
    position: absolute;
    right: 30px;
}

.popup-actions[data-action="false"] {
    background: red;
}

.actions-box:hover .icon-add-fcl {
    color: #006bf9;
}

.popup-actions {
    display: none;
    top: 30px;
    right: 0;
    padding: 5px 10px;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
}

.active {
    display: block;
}

.btn-action {
    width: 100%;
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    color: #525f7e;
    border: none;
    background: transparent;
}

.btn-action:hover {
    text-decoration: underline;
}

.btn-action:focus {
    outline: none;
}

.btn-action:nth-child(3) {
    color: #ff6464;
}


/**** Modal Add Contract ***/

.modal-body {
    background-color: #f8f8fc !important;
}

.modal-footer button:nth-child(1) {
    border: none !important;
    color: #ff6464;
    font-weight: bold;
}

.modal-footer button:nth-child(2) {
    background-color: #006bf9 !important;
    border: none !important;
}

.add-fcl input {
    border-width: 2px;
}

.mx-datepicker-range {
    width: 100% !important;
}

.mx-input {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-right: 6px !important;
    padding-left: 30px !important;
}

i.mx-icon-calendar {
    left: 8px;
    right: 0px;
}

.modal-input {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.modal-header h5 {
    font-weight: bold !important;
    color: #031b4e !important;
}

.multiselect__option--highlight,
.multiselect__option--selected {
    background-color: #dddddd !important;
    color: #333333 !important;
}

.multiselect__tags {
    font-size: 13px !important;
    height: 33.5px;
    min-height: 33.5px !important;
    border: 2px solid #eee !important;
    padding: 4px 40px 5px 10px !important;
    border-radius: 0.25rem !important;
    height: auto !important;
}

.multiselect__tags-wrap {
    width: 100% !important;
}

.multiselect__option {
    font-size: 13px;
    padding: 6px !important;
    min-height: 30px !important;
}

.modal-input label {
    color: #626e8b;
    font-weight: medium;
}

.multiselect__select {
    right: 5px !important;
    top: 0px !important;
}

.multiselect__select::before {
    font-family: 'FontAwesome' !important;
    content: "\f107" !important;
    border: none !important;
    font-size: 16px;
    color: #525f7f;
    top: 17% !important;
}

.multiselect__single {
    color: #626e8b;
    font-size: 14px !important;
}

.multiselect__content-wrapper {
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.1) !important;
    margin-top: 3px !important;
    z-index: 100 !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.multiselect__content {
    display: block !important;
}


/*** --- Tabs --- ***/

.tabs ul {
    margin-bottom: -0.75rem !important;
}

.card-tabs {
    margin-top: 25px;
    background: transparent !important;
    border: none !important;
}

.card-tabs .card-header {
    border-width: 2px !important;
    background: transparent !important;
}

.nav-tabs .nav-link.active {
    background: transparent !important;
    border-color: #006bf9 !important;
    border-width: 4px !important;
    font-weight: bold !important;
}

.nav-tabs .nav-link {
    border: none;
    font-size: 16px;
    color: #031b4e !important;
}

.multiselect__placeholder {
    white-space: nowrap;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 3px;
}

.select-all {
    position: relative;
    top: 25px;
    left: 11px;
}


/*** Validations ***/

.form-control.is-invalid:focus,
.form-control.is-valid:focus {
    box-shadow: none !important;
}


/*** --- REMARK --- ***/

.remarks {
    min-height: 150px;
}

.update-remark {
    width: 30px;
    height: 30px;
    bottom: 3%;
    right: 2%;
    border-radius: 100px;
    background: #19c39b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
}

.title-dropzone {
    font-weight: bold;
    color: #031b4e;
    position: absolute;
    top: 15px;
    left: 35px;
}

.title-card {
    color: #031b4e;
}

#dropzone {
    border: none;
}

.no-padding .card-body {
    padding: 0px;
}

.reportrange-text {
    border: 2px solid #eee !important;
}

.vue-daterange-picker {
    width: 100%;
    white-space: nowrap;
}

input.multiselect__input {
    font-size: 13px;
    padding-left: 3px;
}

input.multiselect__input:focus {
    border: 0px;
    outline: none;
}

#id_name input {
    font-size: 13px;
    color: #35495e !important;
    border: 2px solid #eee !important;
}

#id_name input::placeholder {
    color: #adadad !important;
}

.form-group legend {
    font-size: 12px !important;
    color: #626e8b !important;
}

.multiselect__single {
    margin-bottom: 0px !important;
}

@media only screen and (max-width: 425px) {
    .nav-tabs .nav-item {
        width: 48% !important;
    }
    .nav-tabs .nav-link {
        font-size: 14px !important;
    }
    .card-body {
        overflow-x: scroll;
    }
    .form-inline i {
        bottom: 16px;
    }
}

.th-max {
    max-width: 60px;
}

.multiselect__tags {
    font-size: 12px !important;
}

.form-control {
    font-size: 0.85rem;
}

.col-pr-5 {
    padding-right: 5px !important;
}

.col-pl-5 {
    padding-left: 5px !important;
}